<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <!-- Load the static files for this template -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'soil_moisture/css/home.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'feedback/css/feedback-admin.css' %}"
    />

    {% include "soil_moisture/links.html" %}
  </head>
  <body>
    <div class="dashboard-container">
      <!-- Include the header -->
      <div class="main-content">
        <!-- Include the sidebar -->
        {% include "soil_moisture/admin/sidebar.html" %}
        <div class="content">
          <!-- Main dashboard content goes here -->

          {% include "feedback/feedback_container.html" %}
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="{% static 'feedback/css/admin-fix.css' %}" />
  </body>
</html>
