{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soil Data Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body>


<a href="{% url 'logout' %}"> logout</a>



        <!-- Main content -->
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
            <div class="content">
                <h2>Soil Data Dashboard</h2>
                <p>Welcome to the Soil Data Dashboard. Here you can view the latest soil data collected from the sensors.</p>
            
                <!-- Cards displaying average soil moisture and rainfall per location -->
                <div class="container">
                    <div class="card-columns mt-4">
                        {% for item in location_data %}
                            <div class="card">
                                <div class="card-body" style = "background-color:#007bff;">
                                    <h5 class="card-title">{{ item.location }}</h5>
                                    <p class="card-text"><strong>Average Moisture:</strong> {{ item.avg_moisture }}</p>
                                    <p class="card-text"><strong>Average Rainfall:</strong> {{ item.avg_rainfall }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="my-4">
                    <h6 style = "color:red;">Average Soil Moisture Per Soil Texture</h6>
                    <table border="1">
                        <thead>
                            <tr>
                                {% for header in soil_texture_headers %}
                                    <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for moisture in avg_moistures %}
                                    <td>{{ moisture|floatformat:2 }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class="my-4">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Humidity vs Temperature</h3>
                        <canvas id="HumidityTemperatureChart" width="400" height="200"></canvas>
                    </div>
                    
                    <div>
                        <div class = "rain">
                        <h3>Rainfall recieved in each location</h3>
                        <canvas id="rainfallChart" width = "400" height ="200"></canvas>
                    </div> 
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function createChart(ctx, labels, datasets) {
        new Chart(ctx, {
            type: 'scatter',
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        title: {
                            display: true,
                            text: 'Temperature'
                        },
                        ticks: {
                            callback: function(value) {
                                return value + '°C'; // Add °C to temperature labels
                            }
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Humidity'
                        },
                        ticks: {
                            callback: function(value) {
                                return value + '%'; // Add % to humidity labels
                            }
                        }
                    }
                }
            }
        });
    }

    var data = [
        {% for entry in data %}
            {
                date: '{{ entry.date|date:"Y-m-d" }}',
                time: '{{ entry.time }}',
                soil_moisture: {{ entry.soil_moisture }},
                temperature: {{ entry.temperature }},
                humidity: {{ entry.humidity }},
                rainfall: {{ entry.rainfall }}
            },
        {% endfor %}
    ];

    var temperatureData = data.map(function(entry) {
        return entry.temperature; // Temperature for x-axis data
    });

    var humidityData = data.map(function(entry) {
        return entry.humidity; // Humidity for y-axis data
    });

    var ctx = document.getElementById('HumidityTemperatureChart').getContext('2d');
    createChart(ctx, temperatureData, [{
        label: 'Humidity vs Temperature',
        data: data.map(function(entry) {
            return {
                x: entry.temperature,
                y: entry.humidity
            };
        }),
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
    }]);
// draw a pie chart showing the average rainfall recieved in each location
document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('rainfallChart').getContext('2d');

    var labels = [];
    var data = [];
    
    {% for area in average_rainfall_per_area %}
        labels.push("{{ area.location }}");
        data.push("{{ area.avg_rainfall }}");
    {% endfor %}

    var chartData = {
        labels: labels,
        datasets: [{
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 106, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };

    var rainfallChart = new Chart(ctx, {
        type: 'pie',
        data: chartData,
        options: {
            responsive: true,
            maintainAspectRatio: true
        }

     
    });
});
// draw a card showing the average soil moisture and rainfall recieved in each location





    

    
</script>

</body>
</html>





   <!-- Average Soil Moisture Per Soil Texture -->
   <div class="my-4">
    <h6 style="color:red;">Average Soil Moisture Per Soil Texture</h6>
    <table border="1">
      <thead>
        <tr>
          {% for header in soil_texture_headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for moisture in avg_moistures %}
            <td>{{ moisture|floatformat:2 }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>



<!-- Charts -->
<div class="my-4">
  <div class="row">
    <div class="col-md-6">
      <h3>Humidity vs Temperature</h3>
      <canvas id="HumidityTemperatureChart" width="400" height="200"></canvas>
    </div>
    <div class="col-md-6">
      <h3>Rainfall received in each location</h3>
      <canvas id="rainfallChart" width="400" height="200"></canvas>
    </div>
  </div>
</div>
</div>



  

    


    

  