<!-- Include the base template -->
{% extends 'soil_moisture/base.html' %}

<!-- Define the title for the page -->
{% block title %} Admin Dashboard {% endblock %}

{% block extra_head %} 

<!-- Load the static files for this template -->
{% load static %}
<link rel="stylesheet" href="{% static 'soil_moisture/css/home.css' %}">


{% endblock %}

<!-- The main body of the page -->
{% block body %}

    <div class="dashboard-container">
        <!-- Include the header -->
        {% include "soil_moisture/header.html" %}
        <div class="main-content">
            <!-- Include the sidebar -->
        {% include "soil_moisture/sidebar.html" %}
            <div class="content">
                <!-- Main dashboard content goes here -->
                <h2>Welcome to the Dashboard</h2>
            </div>
        </div>
    </div>
      
{% endblock %}

