

.navbar-custom { 
    font-family: cursive;
    background-color: #191c24; 
    border-bottom: 1px solid #635c5c; 
    padding: 10px 20px; 
    min-height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    /* background: transparent;  */
    backdrop-filter: blur(80px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.navbar-custom:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Intensify box-shadow on hover */
}

.navbar-brand a {

    font-size: 1.5rem; 
    font-weight: bold; 
    color: #fff; 
    letter-spacing: 2px;
    text-decoration: none;
}

/* search field */
.navbar-custom .mr-sm-2 {
    background: #d7e5f7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* search button */
.navbar-custom .my-sm-0 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-inline .form-control {
    width: 200px; 
}


.user-info {
    display: flex;
    align-items: center;
}

.user-info .dropdown {
    position: relative;  
}

.user-info .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    padding: 3px 6px;
    text-align: center;
    font-size: 0.8rem;
}

.user-info i {
    font-size: 25px;
    color: #fff;
}

.user-info .dropdown-menu {
    min-width: 250px;
}

.user-info span {
    font-size: 1.1rem; 
    margin-left: 5px;
}

.dropdown img {
    border-radius: 50%; /* Make the logo image circular */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-left: 10px;
}

.dropdown a {
    color: black;
    text-decoration: none;
}

.dropdown a .icon {
    font-size: 20px;
    color: black;
    margin-right: 10px;
    
}

/* Override the dropdown button style */
.dropdown .btn.btn-secondary.dropdown-toggle {
    background: transparent;
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    font-size: 16px; /* Change font size */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.dropdown .btn.btn-secondary.dropdown-toggle:hover {
    background-color: #555; /* Change background color on hover */
    color: #fff; /* Ensure text color remains white */
}

.date-time {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color:  #fff;/* Darker color for text  #343a40;*/
    margin-left: 15px;
}
