
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.sidebar {
    position: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 130px 14px;
    background: #191c24;
}

.sidebar header {
    position: relative;
}

.sidebar span {
    color: grey;
    /* transition: color 0.3s; */
}

.sidebar header .toggle {
    position:absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 60px;
    font-size: 20px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s ease;
}

.sidebar li a:hover {
    background: #696b6d;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: black;
    transition: 0.2s ease;
}

hr {
    border: 0;
    height: 1px;
    background: #635c5c;
    margin: 20px 0; /* Add space above and below */
}

.sidebar .menu-bar {
    
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    background: #fff;
}

.menu-bar .mode  .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
}


.menu-bar .mode i .sun {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: rgb(101, 116, 121);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: #fff;
   
}







