

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Soil Moisture App</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'predictions' %}">Predictions</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'data-upload' %}">Data Upload</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'reports' %}">Reports</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'settings' %}">Settings</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'faq' %}">Help/FAQ</a></li>
      </ul>
    </div>
  </nav>